<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ title | default('AWS Bites podcast') }}</title>
    <meta name="description" content="{% block description %}{{ settings.description }}{% endblock description %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ title | default('AWS Bites podcast') }}">
    <meta property="og:description" content="{% block og_description %}{{ settings.description }}{% endblock og_description %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ settings.website }}{{ page.url }}">
    <meta property="og:image" content="{% block og_image_url %}{{ settings.website }}/awsbites-og.png{% endblock og_image_url %}">
    {% if publish_date %}<meta name="publish_date" property="og:publish_date" content="{{ publish_date | formatDateISO }}">{% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@loige">
    <meta name="twitter:creator" content="@eoins">
    <meta name="author" content="co-authored by Eoin Shanaghy, Luciano Mammino">

    <link rel="canonical" href="{{ settings.website }}{{ page.url }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#663CF4">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#663CF4">

    <link rel="alternate" type="application/rss+xml" title="RSS Feed for AWS Bites" href="{{ settings.rss_link }}"/>

    <link rel="stylesheet" href="/style.css">

    {% if settings.analytics_id %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-LZHZ86B8SZ"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ settings.analytics_id }}');
      </script>
    {% endif %}

    {% if settings.orama_endpoint and settings.orama_apikey %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@orama/wc-components@latest/dist/orama-ui/orama-ui.css"/>
      <script type="module" src="https://cdn.jsdelivr.net/npm/@orama/wc-components@latest/dist/orama-ui/orama-ui.esm.js"></script>
      <script nomodule src="https://cdn.jsdelivr.net/npm/@orama/wc-components@latest/dist/cjs/orama-ui.cjs.js"></script>
    {% endif %}
  </head>

  <body class="bg-gray-200 dark:bg-gray-800">
    {% block body %}
      {% block body_header %}
        <div class="max-w-6xl mx-auto px-6 py-4">
          <div class="flex justify-between items-center">
            {% if is_generic %}
              <h1 class="sr-only">
              {% else %}
                <h2 class="sr-only">
                {% endif %}
                <a href="/">AWS Bites Podcast</a>
                {% if is_generic %}
                </h1>
              {% else %}
              </h2>
            {% endif %}
            <a href="/" aria-label="Home">
              {% include 'images/logo.svg' %}
            </a>

            {% if settings.orama_endpoint and settings.orama_apikey %}
              <div class="w-full max-w-md px-2">
                <div id="orama-ui">
                  <orama-search-button onClick="open = !open">Search...</orama-search-button>
                  <orama-search-box></orama-search-box>
                </div>
              </div>
            {% endif %}

            <button id="toggle-theme" aria-label="Toggle Dark Mode" type="button" class="hidden w-10 h-10 p-3 rounded bg-gray-300 dark:bg-primary-700">
              <svg id="toggle-dark-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" class="w-4 h-4 text-primary-500 dark:text-secondary-500">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                </svg>
              </svg>
              <svg id="toggle-light-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" class="w-4 h-4 text-primary-500 dark:text-secondary-500">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"></path>
                </svg>
              </svg>
            </button>
          </div>
        </div>
      {% endblock body_header %}
      {% block body_content %}
        {{ content | safe }}
      {% endblock body_content %}
      {% block body_footer %}
        <footer class="footer bg-slate-300 dark:bg-slate-900 py-12 relative mt-24">
          <div class="container mx-auto px-6">

            <div class="sm:flex sm:mt-8">
              <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                  <p>
                    <a href="/" aria-label="Home">
                      {% include 'images/logo.svg' %}
                    </a>
                  </p>
                  <p class="text-gray-900 dark:text-gray-100 py-4 text-sm p-6">© {{ settings.now.getFullYear() }} AWS Bites. All rights reserved.</p>
                </div>
                <div class="flex flex-col">
                  <span class="font-bold text-gray-700 dark:text-gray-300 mt-4 md:mt-0 mb-2">Subscribe Podcast</span>
                  <span class="my-2">
                    <a href="{{ settings.rss_link }}" class="text-primary-400 dark:text-secondary-400 text-md hover:underline align-middle">
                      RSS Feed
                    </a>
                  </span>
                  {% for link in settings.links %}
                    <span class="my-2">
                      <a href="{{ link.href }}" class="text-primary-400 dark:text-secondary-400 text-md hover:underline align-middle">
                        {{ link.name }}
                      </a>
                    </span>
                  {% endfor %}
                </div>
                <div class="flex flex-col">
                  <span class="font-bold text-gray-700 dark:text-gray-300 mt-4 md:mt-0 mb-2">Connect with us</span>
                  <span class="my-2">
                    <a href="https://twitter.com/eoins" class="text-primary-400 dark:text-secondary-400 text-md hover:underline">
                      <strong>Eoin</strong> on Twitter
                    </a>
                  </span>
                  <span class="my-2">
                    <a href="https://twitter.com/loige" class="text-primary-400 dark:text-secondary-400 text-md hover:underline">
                      <strong>Luciano</strong> on Twitter
                    </a>
                  </span>
                  <span class="my-2">
                    <a href="https://fourtheorem.com" class="text-primary-400 dark:text-secondary-400 text-md hover:underline">
                      <strong>fourTheorem</strong>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </footer>
      {% endblock body_footer %}
      {% block scripts %}
        <script>
          const toggleThemeBtn = document.getElementById('toggle-theme')
          const toggleThemeLightIcon = document.getElementById('toggle-light-icon')
          const toggleThemeDarkIcon = document.getElementById('toggle-dark-icon')

          function setTheme(theme) {
            if (toggleThemeBtn) {
              toggleThemeBtn
                .classList
                .remove('hidden')
            }

            if (theme === 'dark') {
              document
                .documentElement
                .classList
                .add('dark')
              toggleThemeLightIcon
                .classList
                .remove('hidden')
              toggleThemeDarkIcon
                .classList
                .add('hidden')

              localStorage.theme = 'dark'
            } else {
              document
                .documentElement
                .classList
                .remove('dark')
              toggleThemeLightIcon
                .classList
                .add('hidden')
              toggleThemeDarkIcon
                .classList
                .remove('hidden')

              localStorage.theme = 'light'
            }

            document
              .querySelector("orama-search-button")
              .colorScheme = theme
            document
              .querySelector("orama-search-box")
              .colorScheme = theme
          }

          function toggleTheme() {
            if (localStorage && localStorage.theme === 'light') {
              setTheme('dark')
            } else {
              setTheme('light')
            }
          }

          if (toggleThemeBtn) {
            toggleThemeBtn.addEventListener('click', (event) => {
              event.preventDefault()
              toggleTheme()
            })
          }

          document
            .documentElement
            .classList
            .remove('no-js');

          {% if settings.orama_endpoint and settings.orama_apikey %}
            let open = false;
            const searchBoxConfig = {
              resultMap: {
                id: "url",
                path: "url",
                title: "title",
                description: "abstract"
              },
              sourcesMap: {
                id: "url",
                path: "url",
                title: "title",
                description: "abstract"
              },
              colorScheme: "system",
              themeConfig: {
                "light": {
                  "--text-color-tertiary": "#4d4c52",
                  "--background-color-secondary": "#e5e7eb"
                }
              }
            };

            Object.assign(document.querySelector("orama-search-box"), {
              ...searchBoxConfig,
              open: open,
              index: {
                endpoint: "{{ settings.orama_endpoint }}",
                api_key: "{{ settings.orama_apikey }}"
              }
            });
          {% endif %}

          if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            setTheme('dark')
          } else {
            setTheme('light')
          }
        </script>
      {% endblock scripts %}
    {% endblock body %}
  </body>

</html>