<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ title | default('AWS Bites podcast') }}</title>
    <meta name="description" content="AWS Bites is a weekly podcast where we answer interesting questions about AWS and cloud computing in about 5 minutes.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="AWS Bites podcast">
    <meta property="og:description" content="AWS Bites is a weekly podcast where we answer interesting questions about AWS and cloud computing in about 5 minutes.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://awsbites.com">
    <meta property="og:image" content="/awsbites-og.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@loige">
    <meta name="twitter:title" content="AWS Bites podcast">
    <meta name="twitter:description" content="AWS Bites is a weekly podcast where we answer interesting questions about AWS and cloud computing in about 5 minutes.">
    <meta name="twitter:image" content="/awsbites-og.png">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#663CF4">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#663CF4">

    <link rel="stylesheet" href="/style.css">
  </head>

  <body class="bg-gray-200 dark:bg-gray-800">
    {% block body %}
      {% block body_content %}
        <p>Change this by using the block body_content</p>
      {% endblock body_content %}
      {% block scripts %}
        <script>
          const toggleThemeBtn = document.getElementById('toggle-theme')
          const toggleThemeLightIcon = document.getElementById('toggle-light-icon')
          const toggleThemeDarkIcon = document.getElementById('toggle-dark-icon')

          function setTheme(theme) {
            if (toggleThemeBtn) {
              toggleThemeBtn
                .classList
                .remove('hidden')
            }

            if (theme === 'dark') {
              document
                .documentElement
                .classList
                .add('dark')
              toggleThemeLightIcon
                .classList
                .remove('hidden')
              toggleThemeDarkIcon
                .classList
                .add('hidden')

              localStorage.theme = 'dark'
            } else {
              document
                .documentElement
                .classList
                .remove('dark')
              toggleThemeLightIcon
                .classList
                .add('hidden')
              toggleThemeDarkIcon
                .classList
                .remove('hidden')

              localStorage.theme = 'light'
            }
          }

          function toggleTheme() {
            if (localStorage && localStorage.theme === 'light') {
              setTheme('dark')
            } else {
              setTheme('light')
            }
          }

          if (toggleThemeBtn) {
            toggleThemeBtn.addEventListener('click', (event) => {
              event.preventDefault()
              toggleTheme()
            })
          }

          document
            .documentElement
            .classList
            .remove('no-js')

          if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            setTheme('dark')
          } else {
            setTheme('light')
          }
        </script>
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
          window.ga = function () {
            ga
              .q
              .push(arguments)
          };
          ga.q = [];
          ga.l = + new Date;
          ga('create', 'UA-XXXXX-Y', 'auto');
          ga('set', 'anonymizeIp', true);
          ga('set', 'transport', 'beacon');
          ga('send', 'pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async></script>
      {% endblock scripts %}
    {% endblock body %}
  </body>

</html>