{% extends "base.njk" %}

{% block description %}{%- excerpt content -%}
{% endblock description %}

{% block og_description %}{%- excerpt content -%}
{% endblock og_description %}

{% block og_image_url %}{{- youtube_id | youtubePreview -}}
{% endblock og_image_url %}

{% block body_content %}
  <div class="max-w-6xl mx-auto p-6">
    <div class="my-8 prose prose-sm md:prose-lg lg:prose-xl dark:prose-dark">
      <h2>{{title}}</h2>
      <p>{{ publish_date | formatDate }} — Episode {{ episode }}</p>
    </div>
    <p>{{ youtube_id | youtubeLink }}</p>
    <main>
      <div class="my-8 prose prose-sm md:prose-lg lg:prose-xl dark:prose-dark">
        {{ content | safe }}

        <div>
          <h3>Do you have any AWS questions you would like us to address?</h3>
          <p>Leave a comment on <a href="{{ youtube_id | youtubeLink }}">YouTube</a> or connect with us on Twitter: <a href=" https://twitter.com/eoins">@eoins</a>, <a href="https://twitter.com/loige">@loige</a>.</p>
        </div>

      </div>
    </main>
    {# <h2 class="text-gray-900 dark:text-gray-100 text-4xl lg:text-5xl font-bold my-8">Where to listen</h2>
    <div class="flex flex-row content-center justify-center gap-8">
      <a title="Watch on YouTube" href="{{ youtube_id | youtubeLink }}"><img class="h-14" src="/icons8-youtube-48.png" alt="youTube"></a>
      <a title="Listen on Spotify" href="{{ spotify_link }}"><img class="h-14" src="/icons8-spotify-48.png" alt="Spotify"></a>
      <a title="Listen on Apple Podcast" href="{{ podcasts_apple_link }}"><img class="h-14" src="/apple_podcasts@2x.png" alt="Apple Podcasts"></a>
      <a title="Listen on Google Podcast" href="{{ podcasts_google_link }}"><img class="h-14" src="/icons8-google-podcasts-48.png" alt="Google Podcasts"></a>
      <a title="Listen on Anchor.fm" href="{{ anchor_fm_link }}"><img class="h-14" src="/anchor-fm.png" alt="Anchor.fm"></a>
      <a title="Get RSS Feed" href="{{ rss_link }}"><img class="h-14" src="/icons8-rss-48.png" alt="RSS"></a>
    </div> #}
  </div>

  {% set previousEpisode = collections.publishedEpisodes | reverse | getPreviousCollectionItem(page) %}
  {% set nextEpisode = collections.publishedEpisodes | reverse | getNextCollectionItem(page) %}

  <div class="row">
    <div class="w-full mx-auto">
      <div class="sm:grid grid-cols-4 gap-5 mx-auto px-16">
        {% if previousEpisode %}
          <div class="col-start-1 col-end-3 my-2">
            <a href="{{ previousEpisode.url }}">
              <div
						class="h-full p-6 dark:bg-gray-700 bg-white text-primary-200 dark:text-secondary-100 hover:shadow-xl rounded border-b-4 border-accent-100 dark:border-accent-100 shadow-md">
                <h3 class="text-2xl mb-3 font-semibold inline-flex">
                  <svg class="mr-2" width="24" height="30" viewBox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
                    <path
									d="M1.02698 11.9929L5.26242 16.2426L6.67902 14.8308L4.85766 13.0033L22.9731 13.0012L22.9728 11.0012L4.85309 11.0033L6.6886 9.17398L5.27677 7.75739L1.02698 11.9929Z"
									fill="currentColor"/></svg>
							Prev
						      </h3>
                <p class="text-lg">{{ previousEpisode.data.episode }}. {{ previousEpisode.data.title }}</p>
              </div>
            </a>
          </div>
        {% endif %}

        {% if nextEpisode %}
          <div class="col-end-5 col-span-2 my-2">
            <a href="{{ nextEpisode.url }}">
              <div
						class="h-full p-6 dark:bg-gray-700 bg-white text-primary-200 dark:text-secondary-100 hover:shadow-xl rounded border-b-4 border-accent-100 dark:border-accent-100 shadow-md text-right">
                <h3 class="text-2xl mb-3 font-semibold inline-flex ">
							Next
							<svg class="ml-2" width="24" height="30" viewBox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
                    <path
									d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
									fill="currentColor"/></svg>
                </h3>
                <p class="text-lg">{{ nextEpisode.data.episode }}. {{ nextEpisode.data.title }}</p>
              </div>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock body_content %}