{% extends "base.njk" %}

{% block description %}{%- excerpt content -%}
{% endblock description %}

{% block og_description %}{%- excerpt content -%}
{% endblock og_description %}

{% block og_image_url %}{{- youtube_img_id | youtubePreview -}}
{% endblock og_image_url %}

{% block body_content %}
  <div class="max-w-3xl mx-auto p-6">
    <p>Episode {{ episode }}</p>
    <h2 class="text-gray-900 dark:text-gray-100 text-4xl lg:text-5xl font-bold mb-8">{{title}}</h2>
    <p>{{youtube_link}}</p>
    <main>
      <div class="prose lg:prose-xl dark:prose-dark mt-10">
        {{ content | safe }}

        <div class="">
          <p>
          Do you have any AWS questions you would like us to address? <br>
        Leave a comment on <a href="{{ youtube_link }}">youTube</a> or connect with us on Twitter:
        </p>
          <ul>
            <li>
              <a href=" https://twitter.com/eoins">@eoins</a>
            </li>
            <li>
              <a href="https://twitter.com/loige">@loige.</a>
            </li>
          </ul>
        </div>

      </div>
    </main>
    <h2 class="text-gray-900 dark:text-gray-100 text-4xl lg:text-5xl font-bold my-8">Where to listen</h2>
    <div class="flex flex-row content-center justify-center gap-8">
      <a title="Watch on YouTube" href="{{ youtube_link }}"><img class="h-14" src="/icons8-youtube-48.png" alt="youTube"></a>
      <a title="Listen on Spotify" href="{{ spotify_link }}"><img class="h-14" src="/icons8-spotify-48.png" alt="Spotify"></a>
      <a title="Listen on Apple Podcast" href="{{ podcasts_apple_link }}"><img class="h-14" src="/apple_podcasts@2x.png" alt="Apple Podcasts"></a>
      <a title="Listen on Google Podcast" href="{{ podcasts_google_link }}"><img class="h-14" src="/icons8-google-podcasts-48.png" alt="Google Podcasts"></a>
      <a title="Listen on Anchor.fm" href="{{ anchor_fm_link }}"><img class="h-14" src="/anchor-fm.png" alt="Anchor.fm"></a>
      <a title="Get RSS Feed" href="{{ rss_link }}"><img class="h-14" src="/icons8-rss-48.png" alt="RSS"></a>
    </div>
  </div>
{% endblock body_content %}