@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .change {
    color: transparent;
  }
}

html body {
  min-height: 100vh;
}

.episode {
  border: 1px solid red;
}

.videoWrapper {
  position:relative;
  width: 100%;
  height: 100%;
}

.transcript-segment {
  position: relative;
  cursor: pointer;
}

.transcript-segment:hover {
  text-decoration: underline dashed orange 2px;
}
