---
id: 04-What-language-should-you-use-for-Lambda
title: 04-What language should you use for Lambda?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=S0tpReRa6m4
spotify_link: https://open.spotify.com/episode/0Jp5CZmn7oGSIMyKDEJf2b
podcasts_apple_link: https://podcasts.apple.com/us/podcast/04-what-language-should-you-use-for-lambda/id1585489017?i=1000537193047
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/OWI3OGEzNjktYzAyYi00MWEyLTkyOTAtMTFhNWYwYThjZDBl?sa=X&ved=0CAUQkfYCahcKEwjQ4fnhqPX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/04--What-language-should-you-use-for-Lambda-e17nfjk
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      In this episode Eoin and Luciano talk about programming languages in the context of Lambda. What language should you use? Actually we really answer the question “what languages do WE like to use in the context of Lambda”. Be ready for a lot of strong opinions in this episode!
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://github.com/awslabs/aws-lambda-rust-runtime">AWS Lambda Rust Runtime</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}