---
title: 05-What-are-our-favourite-AWS-services-and-why
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=IxC-ZYoUifY&t=1s
spotify_link: https://open.spotify.com/episode/7EuvPgxqhySLGNOTDAmuYH
podcasts_apple_link: https://podcasts.apple.com/us/podcast/05-what-are-our-favourite-aws-services-and-why/id1585489017?i=1000537934678
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/MzQyMWY0MWUtZmFlMi00ZjA5LTg1ZTQtNGFjNTU1ZWY4OTQy?sa=X&ved=0CAUQkfYCahcKEwjQ4fnhqPX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/05--What-are-our-favourite-AWS-services-and-why-e17nm17
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div class="text text-accent-300 text-center">
    <h1>{{ title }}</h1>
  </div>
{% endblock episodes_content %}