---
id: 07-When-do-you-use-Step-Functions
title: 07-When do you use Step Functions?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=nNskWnmozaE
spotify_link: https://open.spotify.com/episode/369aRSDukPlpkQ0p86i3Gf
podcasts_apple_link: https://podcasts.apple.com/us/podcast/07-when-do-you-use-step-functions/id1585489017?i=1000539340522
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/MjI4ZDRmY2QtNWY0ZS00YjliLTkwYTItMGVkYzdlMmYxNDFi?sa=X&ved=0CAUQkfYCahcKEwjQ4fnhqPX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/07--When-do-you-use-Step-Functions-e18qtqg
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      In this episode Eoin and Luciano try to reply to a question suggested by <a href="https://twitter.com/em__shea">Emily Shea</a>: When do you use Step Functions?
      <br>
      Our answer describes what Step Function is and what you can build with it. We discuss some examples of features that we built in the past using step functions (a billing engine and a crawler) and why. We also discuss what are the main advantages of Step Functions and some things to be aware of, including limitations, cost and when not to use Step Functions.
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://aws.amazon.com/step-functions/?step-functions.sort-by=item.additionalFields.postDateTime&step-functions.sort-order=desc">Step functions home page</a>
    </li>
    <li>
      <a href="https://docs.aws.amazon.com/step-functions/latest/dg/concepts-standard-vs-express.html">Express step functions</a>
    </li>
    <li>
      <a href="https://www.manning.com/books/ai-as-a-service">AI As a Service (Book by P. Elger and E. Shanaghy)</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}