---
id: 09-How-do-you-get-started-with-AWS
title: 09-How do you get started with AWS?
layout: episodes_layout.njk
youtube_img_id: M6KAb1RQh9E
youtube_link: https://www.youtube.com/watch?v=M6KAb1RQh9E&t=80s
spotify_link: https://open.spotify.com/episode/16sBnJcaFr2XitZL9PTxni
podcasts_apple_link: https://podcasts.apple.com/us/podcast/09-how-do-you-get-started-with-aws/id1585489017?i=1000540823025
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/N2EwZjJmZjUtZjFjMy00NTcyLWI1MTAtNGQyNmNkZWJhMzVi?sa=X&ved=0CAUQkfYCahcKEwjQ4fnhqPX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/09--How-do-you-get-started-with-AWS-e19ggtq
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      In this episode, Eoin and Luciano try to answer a beginner question: how to get started with AWS. Special thanks to <a href="https://www.linkedin.com/in/adam-e-mann/">Adam Mann</a> for suggesting this question!
      <br>
      AWS is so big that it doesn’t make any sense to try to learn it all! It’s better to learn the fundamentals and then focus on specific areas of interest to get the best out of AWS.
      <br>
      But what are these fundamentals and where do I start if I have a background as a web developer? Check out this episode to find out!
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://aws.amazon.com/iam/">IAM</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/s3/">S3</a>
    </li>
    <li>
      <a href=" https://aws.amazon.com/cloudformation/">CloudFormation</a>
    </li>
    <li>
      <a href="https://www.serverless.com/">The Serverless framework</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}