---
title: 09-How-do-you-get-started-with-AWS
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=M6KAb1RQh9E&t=80s
spotify_link: https://open.spotify.com/episode/16sBnJcaFr2XitZL9PTxni
podcasts_apple_link: https://podcasts.apple.com/us/podcast/09-how-do-you-get-started-with-aws/id1585489017?i=1000540823025
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/N2EwZjJmZjUtZjFjMy00NTcyLWI1MTAtNGQyNmNkZWJhMzVi?sa=X&ved=0CAUQkfYCahcKEwjQ4fnhqPX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/09--How-do-you-get-started-with-AWS-e19ggtq
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div class="text text-accent-300 text-center">
    <h1>{{ title }}</h1>
  </div>
{% endblock episodes_content %}