---
id: 10-Lambda-or-Fargate-for-containers
title: 10-Lambda or Fargate for containers?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=a57pXpcA_Bs&t=14s
spotify_link: https://open.spotify.com/episode/6acs1nd1nzUOaytf38T1K7
podcasts_apple_link: https://podcasts.apple.com/us/podcast/10-lambda-or-fargate-for-containers/id1585489017?i=1000541550298
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/MmMwZjNmYzctNjVkNS00NmI1LTgzOTEtYWIyNWVjZTg1MDBj?sa=X&ved=0CAUQkfYCahcKEwjQ4fnhqPX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/10--Lambda-or-Fargate-for-containers-e19gjq8
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      In this episode, Eoin and Luciano try to explain whether you should consider Lambda or Fargate for containers.
      <br>
      We start by clarifying what we really mean by containers and what kind of container support you get in both Lambda and Fargate. Then we go into more detail about the characteristics of both services including limits and pricing. By the end of this episode you should be able to understand how the two services compare and which one might be more suitable for your next project!
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://aws.amazon.com/lambda/">AWS Lambda</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/fargate/">AWS Fargate</a>
    </li>
    <li>
      <a href="https://dev.to/eoinsha/container-image-support-in-aws-lambda-deep-dive-2keh">Container Image Support in AWS Lambda Deep Dive</a>
    </li>
    <li>
      <a href="https://www.fourtheorem.com/blog/container-image-lambda">Container Image Support on AWS Lambda Bridges the Gap to Much Wider Adoption</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}