---
id: 11-How-do-you-move-away-from-the-management-console
title: 11-How do you move away from the management console?
layout: episodes_layout.njk
youtube_img_id: _X78qPZhlDQ
youtube_link: https://www.youtube.com/watch?v=_X78qPZhlDQ&t=14s
spotify_link: https://open.spotify.com/episode/2s2ceHvfXNAoV9RCuDZ94y
podcasts_apple_link: https://podcasts.apple.com/us/podcast/11-how-do-you-move-away-from-the-management-console/id1585489017?i=1000542406884
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/ZmY4Y2Q1MWEtOGNhZS00NTI1LWJlNGUtYTc4NDhlMTQzM2Ri?sa=X&ved=0CAUQkfYCahcKEwjQ4fnhqPX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/11--How-do-you-move-away-from-the-management-console-e1a9dbc
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      In this episode, Luciano and Eoin discuss the good and the bad of the AWS Management Console (a.k.a. the web console) and why you should consider migrating to Infrastructure as Code (IaC) as soon as possible, especially for your production applications.
    </p>
  </div> 
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://aws.amazon.com/cloudformation/">Cloudformation</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/cdk/">CDK</a>
    </li>
    <li>
      <a href="https://www.serverless.com/">Serverless Framework</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/serverless/sam">SAM</a>
    </li>
    <li>
      <a href="https://www.terraform.io/">Terraform</a>
    </li>
    <li>
      <a href=" https://former2.com/">Former2</a>
    </li>
    <li>
      <a href="https://loige.co/create-resources-conditionally-with-cdk">Import or create (e.g. if the resource already exists in production). With CDK</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}