---
id: 13.3-AWS-reInvent-2021-Day-2&3-Special
title: AWS Bites special re:Invent 2021 day 2&3!
layout: episodes_layout.njk
youtube_img_id: MGV9v2EF_2g
youtube_link: https://www.youtube.com/watch?v=MGV9v2EF_2g&t=16s
spotify_link: https://open.spotify.com/episode/0Zb2Ygu7qPsCjfFRjb31p5
podcasts_apple_link: https://podcasts.apple.com/us/podcast/aws-re-invent-2021-day-2-3-special/id1585489017?i=1000543744146
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/YTUzM2I5NzEtNTM1NS00MDgzLWE4ZDEtZDYyZDZkMjVjYWQx?sa=X&ved=0CAUQkfYCahcKEwjQ4fnhqPX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/AWS-reInvent-2021-Day-23-Special-e1b4vm9
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      Sharing our insights on the announcements of re:Invent 2021
      <br>
      In this special episode, Eoin and Luciano talk about their impression on the announcements from day 2 and 3 of AWS re:invent 2021.
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-kinesis-data-streams-on-demand/">Kinesis on-demand data streams</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-redshift-serverless/">Redshift Serverless</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-msk-serverless-public-preview/">Serverless MSK</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/blogs/big-data/announcing-amazon-emr-serverless-preview-run-big-data-applications-without-managing-servers/">Serverless EMR</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/12/amazon-sagemaker-serverless-inference/">Sagemaker Serverless Inference (preview)</a>
    </li>
    <li>
      <a href="https://twitter.com/julian_wood/status/1465842874457763840">AWS Lambda ephemeral storage - pre-announcement</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/blogs/aws/enhanced-dlq-management-sqs/">SQS Redrive</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/12/amazon-sagemaker-studio-lab-no-configuration-ml-service/">SageMaker Studio Lab</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/12/amazon-sagemaker-studio-data-notebook-integration-emr/">SageMaker Studio integrates with EMR</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/12/amazon-sagemaker-ground-truth-plus/">SageMaker Ground Truth Plus</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/12/aws-ai-ml-scholarship-program-intel-udacity-workforce/">AI & ML Scholarship Program</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/12/amazon-lex-automated-chatbox-designer/">Amazon Lex Automated Chatbot Designer (Preview)</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/12/amazon-dynamodb-standard-infrequent-access-table-class/">DynamoDB Infrequent Access</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-athena-lake-formation-security-table-features/">Lake Formation: Security and Governed Tables</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-s3-glacier-instant-retrieval-storage-class/">AWS S3 Glacier instant retrieval</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/s3-intelligent-tiering-archive-instant-access-tier/">AWS new S3 intelligent tiering</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-s3-console-warnings-errors-suggestions-iam-access-analyzer/">S3 console security warnings, errors and suggestions</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-s3-object-ownership-simplify-access-management-data-s3/">S3 Object Ownerhsip</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/microservice-extractor/">AWS Microservices Extractor</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/introducing-aws-mainframe-modernization/">Mainframe modernisation: convert Cobol to Java (in lambda functions)</a>
    </li>
    <li>
      <a href="https://www.aboutamazon.com/news/aws/aws-re-invent-2021-what-you-need-to-know">Carbon Footprint Tool</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/preview-aws-private-5g/">New service: AWS private 5G</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/aws-iot-twinmaker-build-digital-twins/">New service: TwinMaker (digital twins)</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-ec2-c7g-instances-aws-graviton3-processors/">Graviton 3 instances </a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}