---
id: 13.3-AWS-reInvent-2021-Day-2&3-Special
title: 13.3-AWS Bites special re:Invent 2021 day 2&3!
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=MGV9v2EF_2g&t=16s
spotify_link: https://open.spotify.com/episode/0Zb2Ygu7qPsCjfFRjb31p5
podcasts_apple_link: https://podcasts.apple.com/us/podcast/aws-re-invent-2021-day-2-3-special/id1585489017?i=1000543744146
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/YTUzM2I5NzEtNTM1NS00MDgzLWE4ZDEtZDYyZDZkMjVjYWQx?sa=X&ved=0CAUQkfYCahcKEwjQ4fnhqPX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/AWS-reInvent-2021-Day-23-Special-e1b4vm9
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div class="text text-accent-300 text-center">
    <p class="p-10">
      Sharing our insights on the announcements of re:Invent 2021 

      In this special episode, Eoin and Luciano talk about their impression on the announcements from day 2 and 3 of AWS re:invent 2021.
    </p>
  </div>
{% endblock episodes_content %}