---
id:  15-Is-serverless-good-for-startups
title: 15-Is serverless good for startups?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=I8lxFKcuCmI&t=12s
spotify_link: https://open.spotify.com/episode/6IUzcvZgGEZI0TJ5ccGH4d
podcasts_apple_link: https://podcasts.apple.com/us/podcast/15-is-serverless-good-for-startups/id1585489017?i=1000545223727
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/MzA4MjQwZGEtZjcwOS00ODgxLTlmN2EtMGRmNjdhZTZiNjJm?sa=X&ved=0CAUQkfYCahcKEwjQ4fnhqPX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/15--Is-serverless-good-for-startups-e1bp795
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      In this extended episode, Luciano and Eoin try to cover a recurring topic around Serverless: is it a good or bad idea for startups?
      <br>
      We start by giving a brief description of the different definitions and perspectives on serverless. Then, we try to explore some cases in which we believe serverless might not be the best fit for a startup. We follow on by revisiting some cases where instead we believe serverless can actually be a great fit. We finish by discussing some suggestions on how a startup (or even a more established company) could start approaching serverless in a more cautious and incremental way.
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://auth0.com/">Auth0</a>
    </li>
    <li>
      <a href="https://www.algolia.com/">Algolia</a>
    </li>
    <li>
      <a href="https://firebase.google.com/">Firebase</a>
    </li>
    <li>
      <a href="https://laravel.com/">Laravel</a>
    </li>
    <li>
      <a href="https://www.djangoproject.com/">Django</a>
    </li>
    <li>
      <a href="https://expressjs.com/">Express</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/amplify/">AWS Amplify</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=W9ZTYIVQWjQ&t=0s">Our previous episode on Amplify</a>
    </li>
    </ul>
  </div>

{% endblock episodes_content %}