---
id: 17-How-do-you-keep-up-with-AWS-in-2022
title: 17-How do you keep up with AWS in 2022?
layout: episodes_layout.njk
youtube_img_id: sc2B5g_wJx0
youtube_link: https://www.youtube.com/watch?v=sc2B5g_wJx0&t=34s
spotify_link: https://open.spotify.com/episode/21NhEpz8nfkVKessrlmOmx
podcasts_apple_link: https://podcasts.apple.com/us/podcast/17-how-do-you-keep-up-with-aws-in-2022/id1585489017?i=1000546542521
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/MzUwMGIzZmMtY2ZkYi00YTNjLWI0NzgtMjI5OWJiOGVmYjRk?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/17--How-do-you-keep-up-with-AWS-in-2022-e1c4ask
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      In this episode of AWS Bites podcast, Luciano and Eoin talk about some ideas to stay update with the evergreen world of AWS. This is a much less structured episode than usual and we informally discuss some of our favourite resources including blogs, articles, YouTube channels, other podcasts and Twitter profiles.
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://aws.amazon.com/new/">AWS what’s new (official)</a>
    </li>
    <li>
      <a href="https://twitter.com/awswhatsnew">What's new on AWS Twitter bot</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/recent/feed/">AWS News RSS Feed</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/podcasts/aws-podcast/?podcast-list.sort-by=item.additionalFields.EpisodeNum&podcast-list.sort-order=desc&awsf.episode-type=*all&awsf.tech-category-filter=*all&awsf.product-filter=*all&awsf.industry-filter=*all">AWS Podcast</a>
    </li>
    <li>
      <a href="https://www.allthingsdistributed.com/">Werner Vogel’s blog</a>
    </li>
    <li>
      <a href="https://www.serverlesschats.com/">Rebecca Marshburn & Jeremy Daly's Serverless Chats podcast</a>
    </li>
    <li>
      <a href="https://offbynone.io/">Jeremy Daly’s Off by None Newsletter</a>
    </li>
    <li>
      <a href="https://cloudonaut.io/">Cloudonaut’s blog</a>
    </li>
    <li>
      <a href="https://www.youtube.com/cloudonaut">Cloudonaut’s YouTube channel</a>
    </li>
    <li>
      <a href="https://theburningmonk.com/">Yan Cui’s blog</a>
    </li>
    <li>
      <a href="https://realworldserverless.com/">Yan Cui’s Real World Serverless</a>
    </li<li>
      <a href=" https://aws.amazon.com/builders-library/">AWS Builder Library</a>
    </li>
    <li>
      <a href="https://bobbyhadz.com/">Borislav Hadzhiev’s blog</a>
    </li>
    <li>
      <a href="https://www.youtube.com/c/FooBar_codes">Marcia Villalba’s Foobar on YouTube</a>
    </li>
    <li>
      <a href="https://aws.fm/">Adam Elmore’s AWS.fm podcast</a>
    </li>
    <li>
      <a href="https://twitter.com/em__shea"> Emily Shea on Twitter</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=DdyhdnWVukc">Emily Shea’s re:Invent 2021 “Getting started building your first serverless web application”</a>
    </li>
    <li>
      <a href="https://twitter.com/danilop">Danilo Poccia on Twitter</a>
    </li>
    <li>
      <a href="https://twitter.com/heitor_lessa">Heitor Lessa on Twitter</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}