---
id: 18-How-do-you-move-to-the-cloud
title: 18-How do you move to the cloud?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=IDh4eQzbvyg&t=1s 
spotify_link: https://open.spotify.com/episode/1hvQHl8VJFdHtLoWMQSer5
podcasts_apple_link: https://podcasts.apple.com/us/podcast/18-how-do-you-move-to-the-cloud/id1585489017?i=1000547150251
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/ZTA5YjUwODYtMjk1NC00NWNlLTg2ZjktOGM5MDI4M2E1NGNj?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/18--How-do-you-move-to-the-cloud-e1c4ojd
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      In this episode of AWS Bites, Eoin and Luciano discuss some interesting strategies to take a workload to the cloud. Most of this episode is built around “6 Strategies for Migrating Applications to the Cloud” by Stephen Orban: (https://aws.amazon.com/blogs/enterpri...) in which you can find the concepts of the “6 Rs for cloud migrations”: Retire or Retain, Re-purchase, Re-host, Re-platform and Re-architecture.
      <br>
      Throughout the episode we share our take on this approach and we try to provide our perspective and suggestions on how to apply this strategy and get some significant ROI for this project. Moving to the cloud is never a trivial thing and there are many elements to consider, especially in a medium/big organisation. This episode will help you to lay out all the elements that matter the most and come up with a solid plan for your next cloud migration.
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://aws.amazon.com/blogs/enterprise-strategy/6-strategies-for-migrating-applications-to-the-cloud/">6 Strategies for Migrating Applications to the Cloud</a>
    </li>
    </ul>
  </div>

{% endblock episodes_content %}