---
id: 19-Is-the-serverless-DX-still-immature
title: 19-Is the serverless DX still immature?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=WF701W3akKw
spotify_link: https://open.spotify.com/episode/0fp50j1G65sr70AXV5Yo1T
podcasts_apple_link: https://podcasts.apple.com/us/podcast/19-is-the-serverless-dx-still-immature/id1585489017?i=1000547834833
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/YTgxZDU0NWQtNzBjNC00NWRlLTgyYjItZGM1ZTI4ZWQ2MWZk?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/19--Is-the-serverless-DX-still-immature-e1ct76d
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      In this episode of AWS Bites podcast, Luciano and Eoin talk about what the serverless Developer Experience (DX) is like and whether we should consider it still immature or not.
      In this context we discuss some of the struggles with local development, what are some tools that can make our lives easier and how we can improve the overall serverless experience.
      <br>
      Big thanks to <a href="https://twitter.com/PadraigOBrien">Padraig O'Brien</a> for suggesting this topic!
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://localstack.cloud/">LocalStack</a>
    </li>
    <li>
      <a href="https://github.com/dherault/serverless-offline">Serverless offline plugin</a>
    </li>
    <li>
      <a href="https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-cli-command-reference-sam-local-start-api.html">SAM Local</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/blogs/compute/accelerating-serverless-development-with-aws-sam-accelerate/">SAM Accelerate</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/blogs/developer/increasing-development-speed-with-cdk-watch/">CDK HotSwap / CDK Watch</a>
    </li>
    <li>
      <a href="https://docs.serverless-stack.com">SST</a>
    </li>
    </ul>
  </div>

{% endblock episodes_content %}