---
id: 21-What-services-should-i-use-for-events
title: 21-What services should I use for events?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=CG7uhkKftoY 
spotify_link: https://open.spotify.com/episode/5OtXZUjx1A10Exe25GXM6C
podcasts_apple_link: https://podcasts.apple.com/us/podcast/21-what-services-should-i-use-for-events/id1585489017?i=1000549222877 
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/Mjk5MmM1MDItZGMwMi00MWE4LWEwZWYtMDRlNmU0MzYyNTYw?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/21--What-services-should-I-use-for-events-e1daih1
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div class="text text-accent-300 text-center">
    <p class="p-10">
      In this episode of AWS Bites podcast, Luciano and Eoin talk about AWS services related to events and message passing like SQS, SNS, Event Bridge, Kinesis and Kafka (MSK).
      We discuss in which context is convenient to use messages and events and we deliver a quick walkthrough of all the services discussing major features and some practical examples on how to use them.
    </p>
  </div>
{% endblock episodes_content %}