---
id: 22-What-do-you-need-to-know-about-SQS
title: 22-What do you need to know about SQS?
layout: episodes_layout.njk
youtube_img_id: svoA-ds8-8c
youtube_link: https://www.youtube.com/watch?v=svoA-ds8-8c 
spotify_link: https://open.spotify.com/episode/27Ficin9rHzIdRxVMzK5Ea
podcasts_apple_link: https://podcasts.apple.com/us/podcast/22-what-do-you-need-to-know-about-sqs/id1585489017?i=1000550017624
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/MGVlNGViNmQtNTdlZC00MDZkLTlkYzctYjNiZWNhZjRiMDQz?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ 
anchor_fm_link: https://anchor.fm/aws-bites/episodes/22--What-do-you-need-to-know-about-SQS-e1dge30
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      Luciano and Eoin take a deep dive into SQS as part of a series on AWS event services and event-driven architecture. We talk about the kind of problems SQS can solve, all of the SQS features and how to configure and use SQS to achieve reliability and scalability without all the complexity. We also take some time to detail how SQS works with Lambda in terms of scaling, batching and filtering.
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://aws.amazon.com/sqs/">SQS</a>
    </li>
    <li>
      <a href="https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html">Using Lambda with SQS</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/premiumsupport/knowledge-center/lambda-sqs-scaling/">Lambda SQS Scaling</a>
    </li>
    <li>
      <a href="https://github.com/fourTheorem/slic-watch">SLIC Watch (Serverless plugin for easy dashboards and alarms)</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}