---
id: 24-Whats-SNS-and-how-do-you-use-it
title: 24-What's SNS and how do you use it?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=9uzQVr7fFIQ
spotify_link: https://open.spotify.com/episode/20IweHWadGpqbNqN2zmNcW
podcasts_apple_link: https://podcasts.apple.com/us/podcast/24-whats-sns-and-how-do-you-use-it/id1585489017?i=1000551446644 
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/NzlmZTBiNmUtZWYzYS00YjIyLTlkYzctNzIyNTUxMzI5OWJh?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ 
anchor_fm_link: https://anchor.fm/aws-bites/episodes/24--Whats-SNS-and-how-do-you-use-it-e1ed1h7
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      Luciano and Eoin deep dive into SNS discussing what it does, how it differs from EventBridge and SQS and how you can use it to send messages to customers but also for microservices communication. In this new episode dedicated to AWS events and messaging services, we learn everything there is to know about SNS including advantages, limitations and cost. This episode complements the episode about EventBridge, giving another perspective on when to use SNS and when to pick EventBridge instead.
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=UjIE5qp-v8w">Our previous episode about EventBridge</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=svoA-ds8-8c">Our previous episode about all things SQS</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=CG7uhkKftoY">Our introductory episode about what services you should use for events</a>
    </li>
    <li>
      <a href="https://cloudonaut.io/eventbridge-vs-sns/">A comparison between EventBridge and SNS by Cloudonaut</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}