---
id: 25-What-can-you-do-with-Kinesis-data-streams
title: 25-What can you do with Kinesis Data Streams?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=u_nR6up4Kvs&t=3s
spotify_link: https://open.spotify.com/episode/2k739QYtVL3wRQybEDoVJj
podcasts_apple_link: https://podcasts.apple.com/us/podcast/25-what-can-you-do-with-kinesis-data-streams/id1585489017?i=1000552169058
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/ZjhhOTY3NjYtYTA1Yy00MDQxLWIzYzEtNTk1YjNiMTViMTRk?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ 
anchor_fm_link: https://anchor.fm/aws-bites/episodes/25--What-can-you-do-with-Kinesis-Data-Streams-e1emi6q
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div class="text text-accent-300 text-center">
    <p class="p-10">
      Eoin and Luciano are back with some more AWS messaging services material! This time we talk about Kinesis Data Streams and everything there’s to know about them! In this episode of AWS Bites, we cover the difference between data streaming and queue or message buses. How Kinesis can let you process large batches of messages in near real time. Why you might use Kinesis as a queue or pub/sub bus in some cases. A few different ways to use Kinesis with the focus on avoiding too much complexity. We also provide some insights based on our experience with Kinesis Data Streams including real use cases, monitoring tips and some gotchas to be aware of.
    </p>
  </div>
{% endblock episodes_content %}