---
id: 29-Is-serverless-more-secure
title: 29-Is serverless more secure?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=cDj5j1qOVyw&t=752s
spotify_link: https://open.spotify.com/episode/1Jssj0RZzytFBvIfaPmW3i
podcasts_apple_link: https://podcasts.apple.com/us/podcast/28-is-serverless-more-secure/id1585489017?i=1000555165120
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/NzBhODYwYjMtNTA4Ni00MDc4LTg2NjgtMmU4YjFiMTliZTU1?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ 
anchor_fm_link: https://anchor.fm/aws-bites/episodes/28--Is-serverless-more-secure-e1g6m7n
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  Eoin and Luciano take you through the ways serverless can give you more security out of the box. We cover the tradeoffs between having more security control and the responsibility that comes with this power. There are always new security challenges so we cover some of the common pitfalls with serverless and AWS security in general. Finally, we share some tips to make your serverless deployments more secure.
{% endblock episodes_content %}