---
id: 31-CloudFormation-or-Terraform
title: 31-CloudFormation or Terraform?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=mLkOH2I0rX8 
spotify_link: https://open.spotify.com/episode/7J5nVoWwSkQlLYhsK30aHI
podcasts_apple_link: https://podcasts.apple.com/us/podcast/31-cloudformation-or-terraform/id1585489017?i=1000556672551
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/ZDIzMGNiZjUtNGJjZC00NzRiLWFlM2MtNjdhOTljYjAzMTEw?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/31--CloudFormation-or-Terraform-e1gr87b
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      Should I use CloudFormation or should I use Terraform instead? If you are just starting to write Infrastructure as Code (IaaC) you probably have this question. In this episode, we will discuss in detail how these two amazing pieces of technology compare against each other and what their features, weaknesses and strengths are. We will share our opinions based on our experience with these 2 technologies and guess what, for once we have a bit of clash of opinions! Can you guess who is in the Terraform camp and who is in the CloudFormation camp instead? 
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://loige.co/create-resources-conditionally-with-cdk">A tutorial on how to create resources conditionally with CDK (and CloudFormation)</a>
    </li>
    <li>
      <a href="https://dev.to/eoinsha/3-ways-to-read-ssm-parameters-4555">An article to understand in depth how to use secrets management with SSM and SecretsManager together with CloudFormation</a>
    </li>
    <li>
      <a href="https://twitter.com/ben11kehoe/status/1158758917515763712">Ben Kehoe’s tweet about switching from CloudFormation to Terraform</a>
    </li>
    <li>
      <a href="https://registry.terraform.io/providers/hashicorp/null/latest/docs/resources/resource">Terraform null resources</a>
    </li>
    <li>
      <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/macros-example.html">CloudFormation Macros</a>
    </li>
    <li>
      <a href="https://cloudonaut.io/three-and-a-half-ways-to-workaround-missing-cloudformation-support/">How to workaround missing CloudFormation features (by Cloudonaut)</a>
    </li>
    <li>
      <a href="https://github.com/org-formation/org-formation-cli">Org-formation</a>
    </li>
    <li>
      <a href="https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/organizations_account">How to create accounts in an org with Terraform</a>
    </li>
    <li>
      <a href="https://learn.hashicorp.com/tutorials/terraform/aws-control-tower-aft">Control Tower Account Factory for Terraform</a>
    </li>
    <li>
      <a href="https://www.pulumi.com/">Pulumi</a>
    </li>
    <li>
      <a href="https://cloudonaut.io/cloudformation-vs-terraform/"> Cloudonaut’s comparison of CloudFormation with Terraform</a>
    </li>
    <li>
      <a href="https://templates.cloudonaut.io/en/stable/">Cloudonaut’s free CloudFormation templates</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}