---
id: 32-What-are-the-benefits-of-tags
title: 32- What are the benefits of tags?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=qh0BlnGRAog&t=302s
spotify_link: https://open.spotify.com/episode/4xHpwJaoKPytTyLwtG4m1l
podcasts_apple_link: https://podcasts.apple.com/us/podcast/32-what-are-the-benefits-of-tags/id1585489017?i=1000557656478
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/MzAzOGU0MmMtNWQ5MS00NDI2LWJmMWMtNGE1ZjRjNTVhN2Q4?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ 
anchor_fm_link: https://anchor.fm/aws-bites/episodes/32--What-are-the-benefits-of-tags-e1h246h
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      What are the benefits of Tags? You have probably seen that you can add tags to almost every resource in AWS… but should you really do it? And if you do it, what are the benefits?
      <br>
      In today’s episode Eoin and Luciano cover what tags are, some examples of how to use them and what kind of benefits they can give you and your team. Finally we’ll give you a bunch of ideas on how to build a tagging strategy and get value from tags!
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/overview.html">Resource group tagging</a>
    </li>
    <li>
      <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html">Controlling access to AWS resources using tags</a>
    </li>
    <li>
      <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_scps_examples_tagging.html#example-require-tag-on-create">Enforce tagging via SCP (Service Control Policies)</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/premiumsupport/knowledge-center/config-resource-non-compliant/">Use AWS Config to create rules that can alarm if some resources are not compliant</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/blogs/mt/auto-tag-aws-resources/">Example on how to use CloudTrail to automatically tag newly created resources</a>
    </li>
    <li>
      <a href="https://d1.awsstatic.com/whitepapers/aws-tagging-best-practices.pdf">Archived AWS white paper on tagging best practices</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}