---
title: 34-how-to-get-the-most-out-of-cloudwatch-alarms
layout: episodes_layout.njk
youtube_link: https://open.spotify.com/episode/4ay8bS6Bx3emFEbd6y1nS2
spotify_link: https://open.spotify.com/episode/2nubJ5zyAigH2TYblDku4u
podcasts_apple_link: https://podcasts.apple.com/us/podcast/34-how-to-get-the-most-out-of-cloudwatch-alarms/id1585489017?i=1000559037973 
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/N2JhOTgwMzAtY2MxYS00ODUxLTkyNTEtMjk5ZGE0YTk1N2E4?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ 
anchor_fm_link: https://anchor.fm/aws-bites/episodes/34--How-to-get-the-most-out-of-CloudWatch-Alarms-e1hodou
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div class="text text-accent-300 text-center">
    <h1>{{ title }}</h1>
  </div>
{% endblock episodes_content %}