---
id: 35-How-can-you-become-a-logs-ninja-with-CloudWatch
title: 35-How can you become a Logs Ninja with CloudWatch?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=z23_9c--QGQ
spotify_link: https://open.spotify.com/episode/6cV39i9kPaTgD9KZEpcBV0
podcasts_apple_link: https://podcasts.apple.com/us/podcast/35-how-can-you-become-a-logs-ninja-with-cloudwatch/id1585489017?i=1000559778649
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/NjEyNmFkN2MtMTExYy00NzcyLWFjYzUtYTU3MjgxODc0NDk4?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ 
anchor_fm_link: https://anchor.fm/aws-bites/episodes/35--How-can-you-become-a-Logs-Ninja-with-CloudWatch-e1ht45e
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      In the age of distributed systems we produce tons and tons of logs. This is especially true for AWS when using CloudWatch logs. So how do we make sense of all these logs and how can we find useful information in them?
      <br>
      In this episode we talk all about logs on AWS and we discuss the main concepts in CloudWatch for logs like Log Groups and Log Streams. We discuss how you can consume logs and how this used to be a big pain point with AWS CloudWatch logs and how now things are a lot better thanks to a relatively new feature called Log Insights.
      <br>
      Finally we discuss some best practices that you should consider when thinking about logs for your distributed cloud applications.    
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=rk4QMJf6R4U">Our previous episode on CloudWatch alarms</a>
    </li>
    <li>
      <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AnalyzingLogData.html">Analyzing log data with CloudWatch Logs Insights</a>
    </li>
    <li>
      <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CWL_QuerySyntax.html">CloudWatch logs insights query syntax</a>
    </li>
    <li>
      <a href="https://getpino.io">Pino logger for Node.js</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}