---
id: 36-Whats-new-for-javascript-developers-on-AWS
title: 36-What’s new for JavaScript developers on AWS?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=KXBPMvPhHCo 
spotify_link: https://open.spotify.com/episode/2AstYhPjiPfJCFYx5TYT5A
podcasts_apple_link: https://podcasts.apple.com/us/podcast/36-whats-new-for-javascript-developers-on-aws/id1585489017?i=1000560871608 
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/Yzc4NTg4ZmQtOTc1ZC00MDAxLTkwMDktMjU5NTYyNjgzZTI3?sa=X&ved=0CAUQkfYCahcKEwi4n82V7vX3AhUAAAAAHQAAAAAQAQ 
anchor_fm_link: https://anchor.fm/aws-bites/episodes/36--Whats-new-for-JavaScript-developers-on-AWS-e1ie3mj
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  <div>
    <p>
      There are lots of options for programming languages on AWS these days but one of the most popular ones remains JavaScript. In this episode of AWS Bites we discuss what it’s like to develop with JavaScript, Node.js and TypeScript on AWS and what’s new in this field.
      <br>
      We explore why you would choose JavaScript and what are the trade-offs that come with this choice. We present some of the main features of the all-new AWS SDK v3 for JavaScript. We discuss runtime support and tooling for AWS Lambda and finally some interesting developments in the JavaScript ecosystem for the cloud and AWS.
    </p>
  </div>
  <div>
    <p>
      In this episode we mentioned the following resources:
    </p>
    <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=S0tpReRa6m4">Our previous episode on What language to use for lambda</a>
    </li>
    <li>
      <a href="https://www.manning.com/books/ai-as-a-service">AI as a Service by Eoin Shanaghy and Peter Elger (book)</a>
    </li>
    <li>
      <a href="https://www.nodejsdesignpatterns.com/">Node.js Design Patterns by Mario Casciaro and Luciano Mammino (book)</a>
    </li>
    <li>
      <a href="https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/index.html#high-level-concepts">AWS SDK for JavaScript v3 high level concepts (including command based model)</a>
    </li>
    <li>
      <a href="https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/index.html#paginators">AWS SDK for JavaScript v3 paginators using Async Iterators</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/blogs/developer/mocking-modular-aws-sdk-for-javascript-v3-in-unit-tests/">Mocking support for the AWS SDK for JavaScript v3</a>
    </li>
    <li>
      <a href="https://github.com/theam/aws-lambda-benchmark">Various interesting benchmarks on different Lambda runtimes</a>
    </li>
    <li>
      <a href="https://filia-aleks.medium.com/benchmarking-all-aws-lambda-runtimes-in-2021-cold-start-part-1-e4146fe89385">Various interesting benchmarks on different Lambda runtimes, by Aleksandr Filichkin</a>
    </li>
    <li>
      <a href="https://www.simform.com/blog/aws-lambda-performance/">Various interesting benchmarks on different Lambda runtimes, by Jignesh Solanki</a>
    </li>
    <li>
      <a href="https://aws.amazon.com/about-aws/whats-new/2022/01/aws-lambda-es-modules-top-level-await-node-js-14/">Support for ESM modules in AWS Lambda (Node.js 14)</a>
    </li>
    <li>
      <a href="https://middy.js.org/">The Middy Framework (middleware pattern for AWS Lambda)</a>
    </li>
    <li>
      <a href="https://awslabs.github.io/aws-lambda-powertools-typescript/latest/">Lambda Power Tools library for TypeScript</a>
    </li>
    <li>
      <a href="https://lumigo.io/blog/3-major-ways-to-improve-aws-lambda-performance/">Yan Cui’s article on performance improvements with bundling</a>
    </li>
    <li>
      <a href="https://github.com/google/zx">ZX project (scripting with JavaScript) by Google</a>
    </li>
    </ul>
  </div>
{% endblock episodes_content %}