---
id: 38-How-do-you-choose-the-right-compute-service-on-AWS
title: 38-How do you choose the right compute service on AWS?
layout: episodes_layout.njk
youtube_link: https://www.youtube.com/watch?v=hjzPq7TLIcU
spotify_link: https://open.spotify.com/episode/4jusMvMXKC9AGUQGZaUsUW
podcasts_apple_link: https://podcasts.apple.com/us/podcast/38-how-do-you-choose-the-right-compute-service-on-aws/id1585489017?i=1000564100874 
podcasts_google_link: https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/YTUzOTJhZTUtODFiYS00ZjIyLTk4ZjUtZDBhNGY5ZmViNWIy?sa=X&ved=0CAUQkfYCahcKEwjA8OOg3Yb4AhUAAAAAHQAAAAAQAQ
anchor_fm_link: https://anchor.fm/aws-bites/episodes/38--How-do-you-choose-the-right-compute-service-on-AWS-e1j2416
rss_link: https://anchor.fm/s/6a3312a0/podcast/rss
---

{% block episodes_content %}
  When it comes to choosing compute services on AWS, there are a lot of options, including EC2, ECS, Lambda, EKS… New ones keep emerging all the time! Selecting the right one for each application is no longer an easy choice. In this episode we discuss why you need compute services and what kinds of problems should be offloaded to something else entirely. We suggest how you can develop a methodology to make the selection process easier and less biased within your company. We discuss at a high level what are some of the different compute options available in AWS and finally we provide a few different options example use cases and describe how we picked the compute service for each.
{% endblock episodes_content %}