---
title:
layout: base.njk
pagination:
  data: episodes
  size: 5
---

<div class="px-10 py-10">
  <div class="overflow-y-auto">
    <ul class="grid grid-cols-1 gap-4 grid-rows-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-8 grid-flow-row">
    {% for episode in episodes %}
      <li class="bg-purple-100 rounded-lg shadow-xl border-8 border-purple-400 text-gray-900 dark:text-gray-100">
        <h1 class="text-center">{{episode.title}}</h1>
        <div class="flex">
            <a class="text-primary-500 w-10 font-bold hover:bg-gray-300
            " href="{{episode.youtube}}"><img class="h-14" title="Youtube" src="/icons8-youtube-48.png" alt="youTube"></a>
            <a class="text-primary-500 w-10 font-bold hover:bg-gray-300
            " href="{{episode.spotify}}"><img class="h-14" src="/icons8-spotify-48.png" alt="Spotify"></a>
            <a class="text-primary-500 w-10 font-bold hover:bg-gray-300
            " href="{{episode.applePodcasts}}"><img class="h-14" src="/apple_podcasts@2x.png" alt="apple-podcats"></a>
            <a class="text-primary-500 w-10 font-bold hover:bg-gray-300
            " href="{{episode.googlePodcasts}}"><img class="h-14" src="/icons8-google-podcasts-48.png" alt="google-podcasts"></a>
            <a class="text-primary-500 w-10 font-bold hover:bg-gray-300
            " href="{{episode.anchorFm}}"><img class="h-14" src="/anchor-fm.png" alt="anchorFm"></a>
            <a class="text-primary-500 w-10 font-bold hover:bg-gray-300
            " href="{{episode.rss}}"><img class="h-14" src="/icons8-rss-48.png" alt="rss"></a>
            <p class="flex-1 text-gray-700 text-center">
          </div>
            {# {{post.templateContent | striptags(true) | truncate(50) }} #}
           {{episode.description | striptags(true) | truncate(100)}}
          </p>
        {# <strong>
        <a href="{{episode.url}}">Find more on</a>
        </strong> #}
      </li>
      
    {% endfor %}
  </ul>
  </div>
  <div class="text-primary-500 flex place-items-end justify-end ">
            {% if pagination.href.previous %}
              <a href="{{ pagination.href.previous }}" class="mr-5">Previous</a>
            {% endif %}

            {% for href in pagination.hrefs %}
              {%if loop.index0 !== pagination.pageNumber %}
              <a href="{{href}}" class="mr-5">Page {{ loop.index }}</a>
              {% endif %}
            {% endfor %}  

            {% if pagination.href.next %}
              <a href="{{ pagination.href.next }}" class="mr-5" >Next</a>
            {% endif %} 
        </ul>
  </div>

</div>










{# 

<div class="px-10 py-10">
  <h1 class="flex justify-center p-10 uppercase">Where to listen</h1>
  <ul class="flex flex-row content-center justify-center gap-8"></ul>
    {% for episode in episodes %}
      
    {% endfor %}
  </ul>

  <div class="flex flex-row content-center justify-center gap-10">
    {% for episode in episodes %}
     <a href="{{ episode.youtube }}"><img class="h-14" title="Youtube" src="/icons8-youtube-48.png" alt="youTube"> {{ episode.title}}</a>
    {% endfor %}
  </div> #}
    {# <a href="https://www.youtube.com/watch?v=UiXAKbPSVsE"><img class="h-14" title="Youtube" src="/icons8-youtube-48.png" alt="youTube"></a>
    <a href="https://open.spotify.com/episode/2nubJ5zyAigH2TYblDku4u"><img class="h-14" src="/icons8-spotify-48.png" alt="Spotify"></a>
    <a href="https://podcasts.apple.com/us/podcast/01-when-should-i-use-serverless/id1585489017?i=1000535005038"><img class="h-14" src="/apple_podcasts@2x.png" alt="Apple Podcasts"> </a>
    <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw/episode/MjBhYWE3MjQtNGU4Yy00Y2EwLTg2MjAtNTA4MzU0N2UyODQ0?sa=X&ved=0CAUQkfYCahcKEwj4k6e-7-P3AhUAAAAAHQAAAAAQAQ"> <img class="h-14" src="/icons8-google-podcasts-48.png" alt="Google Podcasts"> </a>
    <a href="https://anchor.fm/aws-bites/episodes/01--When-should-I-use-serverless-e16s7td"><img class="h-14" src="/anchor-fm.png" alt="Anchor.fm"></a>
    <a href="https://anchor.fm/s/6a3312a0/podcast/rss"><img class="h-14" src="/icons8-rss-48.png" alt="RSS"></a> #}
