{% extends 'base.njk' %}

{% block body_content %}
  <main class="max-w-3xl min-h-screen mx-auto bg-white p-2">
    <p class="text-center">
      <h1 class="sr-only">
        <a href="/">AWS Bites Podcast</a>
      </h1>
      <a href="/">
        {% image "./src/_includes/images/logo-square.png", "AWS Bites logo", "(min-width: 30em) 50vw, 100vw", [200] , {style: "border-radius: 1em"} %}
      </a>
    </p>
    <div>
      <h2>
      Small bites of AWS Knowledge.
      </h2>
      <h3>
        5 minutes every week!
      </h3>
    </h2>
    <p class="prose lg:prose-xl">
      AWS Bites is a weekly podcast where we answer interesting questions about AWS and cloud computing in about 5 minutes.
      A new episode goes live every Friday morning.
      Brought to you by <a href="https://twitter.com/eoins">@eoins</a> and <a href="https://twitter.com/loige">@loige</a>.
    </p>
  </div>
</main>
{% endblock body_content %}