---
is_generic: true
---

{% extends 'base.njk' %}

{% block body_content %}
  <div class="max-w-6xl min-h-screen mx-auto p-6">
    <main>
      <div class="my-8 lg:my-16">
        <h2 class="text-gray-900 dark:text-gray-100 text-4xl lg:text-5xl font-bold leading-normal">
          Quick bites of AWS
        </h2>
        <h3 class="text-primary-500 dark:text-secondary-400  text-3xl lg:text-4xl font-bold leading-normal lg:leading-loose">
          every week!
        </h3>
        <hr class="w-8 my-6 border-4 bg-secondary-500 border-secondary-500 dark:bg-primary-100 dark:border-primary-100 "/>
      </div>
      <p class="my-8 prose prose-lg md:prose-xl lg:prose-2xl dark:prose-dark">
        AWS Bites is a weekly <strong>podcast</strong> where we answer interesting questions about <strong>AWS</strong> and <strong>cloud computing</strong>.
        A new episode goes live <strong>every Friday morning</strong>.
        Brought to you by <a href="https://twitter.com/eoins">@eoins</a> and <a href="https://twitter.com/loige">@loige</a>.
      </p>
      <div class="my-8 prose prose-sm md:prose-lg lg:prose-xl dark:prose-dark">
        <ul>
          <li>
            <a href="https://youtube.com/AWSBites">YouTube</a>
          </li>
          <li>
            <a href="https://open.spotify.com/show/3Lh7PzqBFV6yt5WsTAmO5q">Spotify</a>
          </li>
          <li>
            <a href="https://podcasts.apple.com/us/podcast/aws-bites/id1585489017">Apple Podcasts</a>
          </li>
          <li>
            <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw==">Google Podcasts</a>
          </li>
          <li>
            <a href="https://anchor.fm/aws-bites">Anchor.fm</a>
          </li>
          <li>
            <a href="https://anchor.fm/s/6a3312a0/podcast/rss">RSS</a>
          </li>
        </ul>
      </div>

      <div class="my-8 prose prose-sm md:prose-lg lg:prose-xl dark:prose-dark">
        <h2 class="text-gray-900 dark:text-gray-100">Recent episodes</h2>

        <ul class="">
          {% for episode in collections
            .publishedEpisodes
            .reverse() %}
            <li class="text-gray-900 dark:text-gray-100 ">
              <span class="font-mono w-full block text-sm md:inline md:text-base">{{ episode.data.publish_date | formatDate }} — </span>
              <a class="text-primary-500 w-10 font-bold" href="{{episode.url}}">{{ episode.data.episode }}. {{episode.data.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </div>
{% endblock body_content %}