{% extends 'base.njk' %}

{% block body_content %}
  <div class="max-w-3xl min-h-screen mx-auto p-6">
    <main>
      <div class="flex justify-between items-start mt-8">
        <h1 class="sr-only">
          <a href="/">AWS Bites Podcast</a>
        </h1>
        <a href="/">
          {% include 'images/logo.svg' %}
        </a>
        <button id="toggle-theme" aria-label="Toggle Dark Mode" type="button" class="hidden w-10 h-10 p-3 rounded bg-gray-300 dark:bg-primary-700">
          <svg id="toggle-dark-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" class="w-4 h-4 text-primary-500 dark:text-secondary-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
            </svg>
          </svg>
          <svg id="toggle-light-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" class="w-4 h-4 text-primary-500 dark:text-secondary-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"></path>
            </svg>
          </svg>
        </button>
      </div>
      <div class="my-8 lg:my-16">
        <h2 class="text-gray-900 dark:text-gray-100 text-4xl lg:text-5xl font-bold leading-normal">
          Quick bites of AWS
        </h2>
        <ul>
          {% for episode in episodes %}
          <li>{{ episode.title}}</li>
          {% endfor %}
        </ul>

        <h3 class="text-primary-500 dark:text-secondary-400  text-3xl lg:text-4xl font-bold leading-normal lg:leading-loose">
          every week!
        </h3>
        <hr class="w-8 my-6 border-4 bg-secondary-500 border-secondary-500 dark:bg-primary-100 dark:border-primary-100 "/>
      </div>
      <p class="prose lg:prose-xl dark:prose-dark">
        AWS Bites is a weekly <strong>podcast</strong> where we answer interesting questions about <strong>AWS</strong> and <strong>cloud computing</strong>.
        A new episode goes live <strong>every Friday morning</strong>.
        Brought to you by <a href="https://twitter.com/eoins">@eoins</a> and <a href="https://twitter.com/loige">@loige</a>.
      </p>
      <div class="my-8 prose lg:prose-xl dark:prose-dark">
        <ul>
          <li>
            <a href="https://youtube.com/AWSBites">YouTube</a>
          </li>
          <li>
            <a href="https://open.spotify.com/show/3Lh7PzqBFV6yt5WsTAmO5q">Spotify</a>
          </li>
          <li>
            <a href="https://podcasts.apple.com/us/podcast/aws-bites/id1585489017">Apple Podcasts</a>
          </li>
          <li>
            <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy82YTMzMTJhMC9wb2RjYXN0L3Jzcw==">Google Podcasts</a>
          </li>
          <li>
            <a href="https://anchor.fm/aws-bites">Anchor.fm</a>
          </li>
          <li>
            <a href="https://anchor.fm/s/6a3312a0/podcast/rss">RSS</a>
          </li>
        </ul>
      </div>
    </main>
    <footer class="text-sm text-gray-500">
      © 2021 AWS Bites. All rights reserved.
    </footer>
    <div>
    {% endblock body_content %}