---
eleventyExcludeFromCollections: true
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ settings.website }}/</loc>
    <lastmod>{{ settings.now | formatDate }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
  </url>
  {% for item in collections.publishedEpisodes %}
    <url>
      <loc>{{ settings.website }}{{ item.url }}</loc>
      <lastmod>{{ item.data.publish_date | formatDate }}</lastmod>
      <changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
      <priority>{{ item.data.sitemapPriority | default(0.8) }}</priority>
    </url>
  {% endfor %}
</urlset>