---
title: Should you go for multi-cloud or go all-in on AWS?
description: In this episode Eoin and Luciano talk about whether you should go all in and build multi-cloud applications or stick to one cloud provider. But first of all we try to define what multi-cloud means for us and how it is different from hybrid-cloud and cloud-agnostic deployments. We also discuss the perils of cloud-agnostic and why you should rather consider having “only” a migration strategy.
---